*, *::after, *::before {
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
a {
    color: #fff;
    text-decoration:none;
}
::-webkit-scrollbar {
    width: 5-px;
}
::-webkit-scrollbar-track {
    background: #282323;
}
::-webkit-scrollbar-thumb {
    background: #7DDCFF;
    border-radius:10px;
}
#trava {
    margin-left:auto;
    margin-right:auto;
    width: 1366px;
}

html {
    overflow-x:hidden;
    scroll-behavior: smooth;
}


header{
    height: 97px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #328dad;


}
.tdheader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /*background-color: #328dad;
    position: fixed;
    z-index: 5;*/
}
.alinhahed{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 76px;
    width: 450px;
} 
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 90%;
    height: 50px;
    
}
.alinhanav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}
.link-header{
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 0px;
    font-size: 24px;
    font-family: Rancho;
    letter-spacing: 0.4px;
    margin: 0px 10px;
}

.link-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: visible;
    transition: .8s;
  }
.link-header:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #282323;
    visibility: hidden;
    transition: width .8s ease-in-out;
}
.link-header:hover::after {
    width: 100%;
    visibility: visible; 
    animation-delay: 100ms;

}.link-header:hover::before{
    width: 0%;
    visibility: visible; 
    transition: width .8s ease-in-out;
}
.logoyt{
    width: 55px;
    height: 48px;
    margin-right: 10px;
}
.miniatura{
    height: 73px;
    margin-right: 10px;
}
.nome{
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 50px;
    font-family: Rancho;
}
main { 
    width: 100%;
    height: 643.18px;
    background: #fff; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.main1{
    width: 100%;
    height: 643.18px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;

}
.centraliza{
    width: 90%;
    height:550px;
    justify-content: center;
    margin-top: 70px;
    display: flex;
}
.textos{
    width: 500px;
    height: 400px;
}
.red{
    color: #ad6a21;
    font-size: 96px;
    font-family: Rancho;
}
.subt{
    color: #ad6a21;
    font-size: 48px;
    font-family: Rancho;
    margin-left: 50px;
    margin-top: 10px;
}
.texto{
    width: 400px;
    font-size: 28px;
    font-family: Rancho;
    color: #ad6a21;
    text-align: justify;
    margin-top: 30px;
    margin-left: 90px;
}
.imagens{
    width: 700px;
    height:500px;
}
.cloud{
    width: 343.31px;
    height: 185.89px;
    transform: rotate(18.54deg);
    z-index: 2;
    background-image: url(Imagens/pngwing.com.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 380px;
    margin-top: 10px;
}
.vid{
    width: 678px;
    height: 477px;
    background-image: url(Imagens/small-actions-big-impact-march.gif);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.main2{
    width: 100%;
    height: 1215px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.fundoAzul{
    width: 100%;
    height: 1114px;
    background-color: #7DDCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 101px;
}
.Exagonos{
    width: 1636px;
    height: 1100px;
    opacity: 40%;
}
.cards{
    position: absolute;
    display: flex;
    justify-content: center;
}
.banner{
    width: 1202px;
    height:462px;
    background-color: yellow;
    position: absolute;
    z-index: 3;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
    background-image: url(Imagens/mulher-com-os-cachos-8.gif);
    background-position: center;
    background-size: 90%;
    border-radius: 20px;
}
.cardBanner{
    width: 549px;
    height: 256px;
    position: absolute;
    z-index: 4;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
    background-color: #FFB47B;
    transform: translate(-360px, 40px);
    border-radius: 20px;
}
.doiscards{
    width: 1150px;
    height: 369px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
}
.card1{
    width: 524px;
    height: 369px;
    background-image: url(Imagens/artigo.gif);
    background-size: 90%;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
}
.card2{
    width: 524px;
    height: 369px;
    background-image: url(Imagens/social.gif);
    background-size: 90%;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
}
.entalhes{
    width: 980px;
    height: 369px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-120px, 150px);
}
.entalheC1{
    width: 345px;
    height: 225px;
    background-color: #FFB47B;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
    border-radius: 20px;
}
.entalheC2{
    width: 345px;
    height: 225px;
    background-color: #FFB47B;
    box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
    margin-left: -20px;
    border-radius: 20px;
}
.botao{
   width: 278px;
   height: 70px;
   position: absolute;
   background-color: #FFB47B;
   transform: translate(0px, 450px);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Rancho;
   font-size: 40px;
   border-radius: 20px;
   box-shadow: 0 12px 16px -8px rgba(41,42,102,0.11765), 0 8px 8px -4px rgba(41,42,102,0.03922);
}

.main3 {
    background: #ad6a21;
    width: 100%;
    height: 511px;
    position: relative;
}
.tLeft {
    width:400px;
    position:absolute;
    top:50%;
    left: 25%;
    transform:translate(-50%, -50%);
    max-width:370px;
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    font-family: Rancho;
}
.tRight {
    position:absolute;
    top:50%;
    left: 70%;
    transform:translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    font-family: Rancho;
}
.barrinha{
    width: 4px;
    height: 332px;
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-left: 45%;
}

footer {
    width: 100%;
    height: 448px;
    background: #328dad;
    color: #fff;
    z-index: 4;
    position: absolute;
    transform: translatey(1725px);

}
.desenvolvedores{
    width: 300px;
    height: 300px;
    list-style: none;
    margin-top: 100px;
    margin-left: 150px;
}
.conteudo{
    width: 300px;
    height: 300px;
    list-style: none;
    margin-top: 100px;

}
.primeirobloco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.alinhafoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foot1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    font-family: Rancho;
    font-size: 30px;
}
.scroll{
    margin-top: 150px;
    width: 350px;
    font-size: 50px;
    font-family: Rancho;
}

.foot2{
    width: 100%;
    height: 80px;
    background-color: #7DDCFF;
    display: flex;
    justify-content: center;
}
.alinhafoot1{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.logoif{
    width: 80px;
    height: 80px;
    background-image: url(Imagens/0609b1d7-4a7d-41be-bd18-081ecb35eb9e.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.orientadora{
    width: 250px;
    height: 30px;
    font-family: Rancho;
    font-size: 20px;
    margin-top: 25px;
    color: #282323;

}
.turma{
    width: 350px;
    height: 30px;
    font-family: Rancho;
    font-size: 20px;
    margin-top: 25px;
    color: #282323;
    margin-left: 70px;
}
.nomefoot{
    position: relative;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 24px;
    font-family: Rancho;
    letter-spacing: 0.4px;
    margin: 0px 10px;
    width: 150px;
}
.nomefoot:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translate(0px, 38px);
    background-color: #FFFFFF;
    visibility: visible;
    transition: .8s;
  }

.nomefoot:hover::before{
    width: 0%;
    visibility: visible; 
    transition: width .8s ease-in-out;
}

